
<head>
  <meta charset="utf-8">
  <title>The HTML5 Herald</title>

  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{styles}}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap" rel="stylesheet">
  {{> portfolio_aboutPage.Styles.hbs}}

</head>
  <div class="details-of-cooperation-container landscape">
    <div class="information-container-logo-container">
      <img src={{@root.images.white}} class="small-logo" />
    </div>
    <h4 class="details-of-cooperation-title">Details of cooperation</h4>
    <div class="text-containers-wrapper">
      <div class="left-wrapper">
        <div class="title-with-devider-container">
          <h6 class="title-before-devider">what do we offer</h6>
          <div class="header-gradient-devider"></div>
        </div>
        <p class="main-text">
          Our collaboration will start from modification the technical requirements, making suggestions from our side
          and adapting
          design files. This is necessary to clearer interactions between all system elements and to develop your
          application
          according the requirements
        </p>
        <p class="main-text">
          A dedicated team will be assigned to your project which will consist of Backend and Frontend Developers, iOS
          and Android
          Developers, QA Engineer and a Project Manager. All of them have remarkable experience in their area and
          possess
          in-depth knowledge in necessary technologies, frameworks and libraries. The team is completely customizable
          and
          you will pay for people you truly require. These developers will be focused on your project only.
        </p>
        <p class="main-text">
          We will provide you with any help regarding cloud storage, necessary APIs documentation and their integration,
          and deploying
          mobile applications to the App Store and Google Play.
        </p>
        <p class="main-text">
          Project coordination. Our experienced Project Manager will work closely with you during the development: he
          will keep you
          informed about all processes and report about the progress, provide you with schedule of milestones which you
          can
          manage upon mutual agreement, assist you on any other question. We use Trello for product coordination which
          allows
          you to monitor and control the development processes and receive reports as well. In that way, all the
          processes
          will be transparent for you.
        </p>
      </div>
      <div class="right-wrapper">
        <div class="title-with-devider-container">
          <h6 class="title-before-devider">Time and material/hourly basis</h6>
          <div class="header-gradient-devider"></div>
        </div>
        <p class="main-text">
          Project is delivered on a standard basis, payments conducted according to actually spent hours, more flexible
          than fixed
          budget. Particularly good for open-ended, long term projects where it is hard to make a solid estimation of
          required
          efforts or there is a need to constantly add new features.
        </p>
        <div class="title-with-devider-container">
          <h6 class="title-before-devider">fixed price</h6>
          <div class="header-gradient-devider"></div>
        </div>
        <p class="main-text">
          Project is delivered on a standard basis for fixed price. Used for projects with clear, detailed software
          requirements, specifications
          and agreed timeline for the project completion. Price is fixed according to the preliminary agreement.
        </p>
        <p class="abstract-text">
          Hourly basis model will be flexible and we can change requirements on the go (we don't need low-level
          specification and can
          start directly from the design creation). In this case, the development process will be shorter. With Fixed
          Price
          model the process is strict and we need to go through all stages without the ability to change requirements
          after
          design stage.
        </p>
      </div>
    </div>
  </div>
  <div class="pagebreak"></div>
  
