<!doctype html>

<html>
  <head>
  <meta charset="utf-8">
  <title>The HTML5 Herald</title>

  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{styles}}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap" rel="stylesheet">

</head>

<body style="margin: 0">
  {{> portfolio_titlePage.hbs}}

  {{!-- {{> portfolio_aboutPage.hbs}} don't need to use yet --}}

  {{> portfolio_mainPage.hbs}}

  {{> portfolio_lastPage.hbs}}
</body>

</html>

<!-- https://www.facebook.com/fusionllc/
https://www.linkedin.com/company/fusion-web-dev/
https://www.goodfirms.co/companies/view/15161/fusion-llc
https://clutch.co/profile/fusion-team
https://www.upwork.com/o/companies/_~0136a14702e3b205fe/
welcome@fusion-team.com
https://vk.com/fusion_llc -->